/*
Video: youtube.com/shorts/00s8D2tATXo

La propiedad height en CSS:

Esta propiedad controla la altura de los elementos indicados. Se pueden utilizar píxeles, porcentajes, unidades de vista, y más como sus valores. La propiedad min-height controla la altura mínima y la propiedad max-height controla la altura máxima.
*/

<head>
  <style>
    .figura {
      width: 200px;
      height: 200px;
      background-color: red
    }
  </style>
</head>
<body>
  <div class="figura"></div>
</body>
