/*
Video: youtube.com/shorts/r7-LvaDxw_4

Cómo crear un archivo de CSS:

Se puede crear un archivo de CSS con simplemente guardar el archivo usando la extensión correcta. Por ejemplo, en un editor de texto como Bloc de notas (también conocido como Notepad), podemos guardar el archivo con la extensión "css" para que sea interpretado como un archivo de CSS.
*/
